name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
     - cron: '0 0 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu_noble:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy

    - name: Install Rust
      run: rustup component add rustfmt clippy

    - name: Install other dependencies
      run: sudo apt-get -qqy install build-essential libclang-dev

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: cargo-release-${{ hashFiles('**/Cargo.lock') }}-${{ runner.os }}

    - name: Dependency tree
      run: cargo tree --locked

    - name: Build
      run: |
        cargo build --release --all --locked --timings
        mv -v target/cargo-timings/cargo-timing-*.html .
        mv -v target/release/bindex-cli /usr/local/bin/

    - name: Sanity
      run: |
        bindex-cli --version  # make sure it can run
        bindex-cli --help

    - name: Test
      run: cargo test --release --all --locked

    - name: Format
      run: cargo fmt --all -- --check

    - name: Clippy
      run: cargo clippy --release --all --locked -- -D warnings

    - uses: actions/upload-artifact@v4
      with:
        name: cargo-build-timings
        path: cargo-timing-*.html
        retention-days: 30


  debian_trixie:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build
        run: docker build -f Dockerfile.ci . -t bindex:latest
      - name: Sanity
        run: |
          docker run --rm bindex:latest bindex-cli --version
          docker run --rm bindex:latest bindex-cli --help

  python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.10"

      - name: Install the project
        run: uv sync --locked

      # Update output format to enable automatic inline annotations.
      - name: Ruff check
        run: uv run ruff check --output-format=github .
      - name: Ruff format
        run: uv run ruff format --diff
      - name: Type check
        run: uv run ty check
